@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Serif:wght@200&display=swap");
.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 96px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.hero .header {
  color: #fff;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: 250px;
  max-width: 850px;
  text-align: center;
  z-index: 1;
}

.hero .header > span {
  display: inline-block;
}

.hero .lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  width: 100%;
  padding: 0 86px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.hero .lines .line {
  background-color: #ffffffaf;
  height: 1px;
  margin-bottom: 70px;
  width: 10%;
  -webkit-box-shadow: 0px 0px 2px 1px #ffffffaf;
          box-shadow: 0px 0px 2px 1px #ffffffaf;
}

.hero .lines .line:nth-child(1) {
  margin-top: 40px;
  width: 60%;
}

.hero .lines .line:nth-child(2) {
  width: 45%;
}

.hero .lines .line:nth-child(3) {
  width: 40%;
}

.hero .lines .line:nth-child(4) {
  width: 35%;
}

.hero .lines .line:nth-child(5) {
  width: 30%;
}

.hero .lines .line:nth-child(6) {
  width: 25%;
}

.hero .lines .line:nth-child(7) {
  width: 20%;
}

.hero .lines .line:nth-child(8) {
  width: 15%;
}

.hero .lines .line:nth-child(9) {
  width: 12%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #060606;
  overflow-x: hidden;
  font-size: 18px;
}

main {
  background-color: #060606;
  font-family: 'Roboto Serif', sans-serif;
}

.bebas {
  font-family: 'Bebas Neue', cursive;
}

.roboto {
  font-family: 'Roboto Serif', sans-serif;
}

.global-nav {
  max-width: 1532px;
  padding: 0 84px;
}

.global-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  position: absolute;
  top: 84px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}

.global-nav::before {
  background-color: #9a9a9a;
  content: "";
  display: block;
  height: 1px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
}

.global-nav .navigation-link {
  width: 70px;
  margin-right: 70px;
  font-size: xx-large;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
}

.global-nav .navigation-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 64px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.global-nav .navigation-list .navigation-list-item {
  margin-left: 8px;
  margin-right: 8px;
}

.global-nav .navigation-list .navigation-list-item .navigation-list-link {
  background-color: rgba(250, 250, 250, 0);
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  padding: 14px 24px;
  text-decoration: none;
  -webkit-transition: background-color 0.2s cubic-bezier(0.5, 1, 0.5, 1);
  transition: background-color 0.2s cubic-bezier(0.5, 1, 0.5, 1);
}

.global-nav .navigation-list .navigation-list-item .navigation-list-link:hover {
  cursor: pointer;
  background-color: #fafafa1a;
}
/*# sourceMappingURL=index.css.map */